@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
.text-center{
  text-align: center;
}
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 0;
  width: calc(100% + 15px);
  height: 100%; }

.column__xs--1 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--2 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--3 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--3 {
      flex-basis: 25%;
      max-width: 25%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--4 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--5 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--6 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--6 {
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--7 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--8 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--9 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--9 {
      flex-basis: 75%;
      max-width: 75%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--10 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--11 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__xs--12 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 321px) {
    .column__xs--12 {
      flex-basis: 100%;
      max-width: 100%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 320px) {
  .hidden__xs {
    display: none !important; } }

.column__sm--1 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--2 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--3 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--3 {
      flex-basis: 25%;
      max-width: 25%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--4 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--5 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--6 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--6 {
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--7 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--8 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--9 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--9 {
      flex-basis: 75%;
      max-width: 75%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--10 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--11 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__sm--12 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 481px) {
    .column__sm--12 {
      flex-basis: 100%;
      max-width: 100%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .hidden__sm {
    display: none !important; } }

.column__md--1 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--2 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--3 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--3 {
      flex-basis: 25%;
      max-width: 25%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--4 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--5 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--6 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--6 {
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--7 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--8 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--9 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--9 {
      flex-basis: 75%;
      max-width: 75%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--10 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--11 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__md--12 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 769px) {
    .column__md--12 {
      flex-basis: 100%;
      max-width: 100%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .hidden__md {
    display: none !important; } }

.column__lg--1 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--2 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--3 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--3 {
      flex-basis: 25%;
      max-width: 25%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--4 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--5 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--6 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--6 {
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--7 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--8 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--9 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--9 {
      flex-basis: 75%;
      max-width: 75%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--10 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--11 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__lg--12 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1025px) {
    .column__lg--12 {
      flex-basis: 100%;
      max-width: 100%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .hidden__lg {
    display: none !important; } }

.column__xl--1 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--1 {
      flex-basis: 8.33333%;
      max-width: 8.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--2 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--2 {
      flex-basis: 16.66667%;
      max-width: 16.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--3 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--3 {
      flex-basis: 25%;
      max-width: 25%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--4 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--4 {
      flex-basis: 33.33333%;
      max-width: 33.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--5 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--5 {
      flex-basis: 41.66667%;
      max-width: 41.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--6 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--6 {
      flex-basis: 50%;
      max-width: 50%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--7 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--7 {
      flex-basis: 58.33333%;
      max-width: 58.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--8 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--8 {
      flex-basis: 66.66667%;
      max-width: 66.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--9 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--9 {
      flex-basis: 75%;
      max-width: 75%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--10 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--10 {
      flex-basis: 83.33333%;
      max-width: 83.33333%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--11 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--11 {
      flex-basis: 91.66667%;
      max-width: 91.66667%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.column__xl--12 {
  width: 100%;
  display: block;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1146px) {
    .column__xl--12 {
      flex-basis: 100%;
      max-width: 100%;
      flex-grow: 1;
      padding: 0 15px 0 0; } }

@media only screen and (min-width: 1025px) {
  .hidden__xl {
    display: none !important; } }

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1; }
  .modal[data-active="false"] {
    opacity: 0;
    pointer-events: none; }
    .modal[data-active="false"] .modal__content {
      -webkit-transform: translate(-50%, -80%);
      -moz-transform: translate(-50%, -80%);
      -ms-transform: translate(-50%, -80%);
      -o-transform: translate(-50%, -80%);
      transform: translate(-50%, -80%); }
      @media only screen and (max-width: 320px) {
        .modal[data-active="false"] .modal__content {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none; } }
      @media only screen and (max-width: 480px) and (min-width: 321px) {
        .modal[data-active="false"] .modal__content {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none; } }
      @media only screen and (max-width: 768px) and (min-width: 481px) {
        .modal[data-active="false"] .modal__content {
          -webkit-transform: none;
          -moz-transform: none;
          -ms-transform: none;
          -o-transform: none;
          transform: none; } }
  .modal .modal__close {
    display: inline;
    float: right;
    cursor: pointer; }
  .modal .modal__content {
    position: absolute;
    width: 600px;
    max-width: 100%;
    min-height: 400px;
    max-height: 700px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px; }
    @media only screen and (max-width: 320px) {
      .modal .modal__content {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        border-radius: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-height: none;
        max-width: none; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .modal .modal__content {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        border-radius: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-height: none;
        max-width: none; } }
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      .modal .modal__content {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        border-radius: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-height: none;
        max-width: none; } }
    .modal .modal__content .modal__dismiss {
      position: absolute;
      height: 50px;
      right: 20px;
      top: 0;
      line-height: 50px;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 100;
      font-size: 20px;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .modal .modal__content .modal__dismiss:hover {
        color: rgba(255, 0, 0, 0.3); }

canvas {
  display: block;
  vertical-align: bottom;
  position: fixed;
  top: 5%;
  z-index: 1;
  pointer-events: none; }

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1; }

html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #000; }

*, *:before, *:after {
  box-sizing: border-box; }

a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:link, a:visited, a:focus {
    text-decoration: none;
    color: #fff; }
  a:hover {
    border-color: transparent;
    color: #d9d9d9; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 300; }
  @media only screen and (min-width: 769px) {
    h1 {
      font-size: 38px; } }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px; }
  @media only screen and (max-width: 320px) {
    h2 {
      font-size: 26px; }
      h2 br {
        display: none; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    h2 {
      font-size: 26px; }
      h2 br {
        display: none; } }

h3 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 22px; }

h1, h2, h3, h4, h5 {
  font-weight: 400; }

p {
  margin: 0; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.header {
  color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  @media only screen and (max-width: 320px) {
    .header {
      background-color: #000; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .header {
      background-color: #000; } }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .header {
      background-color: #000; } }
  .header.scroll {
    padding: 5px 0;
    background-color: #000; }
    .header.scroll .logo {
      padding-top: 5px;
      width: 160px; }
    .header.scroll .nav {
      padding-top: 0; }
  .header-nav {
    display: flex;
    justify-content: space-between; }

.logo {
  width: 250px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  @media only screen and (max-width: 320px) {
    .logo {
      width: 200px; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .logo {
      width: 200px; } }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .logo {
      width: 200px; } }
  .logo img {
    width: 100%; }

.nav {
  padding-top: 2px; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .nav ul li {
      padding: 15px; }
      .nav ul li.active a:after {
        width: 100%; }
      .nav ul li:last-child {
        padding-right: 0; }
      .nav ul li a {
        color: #fff;
        position: relative;
        font-weight: 400; }
        .nav ul li a:after {
          content: '';
          background-color: #fff;
          width: 0;
          height: 2px;
          left: 0;
          bottom: -4px;
          position: absolute;
          transition-duration: 0.3s; }
        .nav ul li a:hover:after, .nav ul li a.active:after {
          width: 100%; }
  @media only screen and (max-width: 320px) {
    .nav {
      height: 100vh;
      background-color: #000;
      position: fixed;
      width: 100%;
      left: 0;
      top: 58px;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .nav ul {
        flex-direction: column;
        padding-top: 70px; }
        .nav ul li {
          padding: 20px 0; }
          .nav ul li a {
            font-size: 18px; }
      .nav.active {
        max-height: 100vh; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .nav {
      height: 100vh;
      background-color: #000;
      position: fixed;
      width: 100%;
      left: 0;
      top: 58px;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .nav ul {
        flex-direction: column;
        padding-top: 70px; }
        .nav ul li {
          padding: 20px 0; }
          .nav ul li a {
            font-size: 18px; }
      .nav.active {
        max-height: 100vh; } }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .nav {
      height: 100vh;
      background-color: #000;
      position: fixed;
      width: 100%;
      left: 0;
      top: 58px;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .nav ul {
        flex-direction: column;
        padding-top: 70px; }
        .nav ul li {
          padding: 20px 0; }
          .nav ul li a {
            font-size: 18px; }
      .nav.active {
        max-height: 100vh; } }

.wrapper {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wrapper {
      padding-left: 25px !important;
      padding-right: 25px !important; } }
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    .wrapper {
      padding-left: 25px !important;
      padding-right: 25px !important; } }
  @media only screen and (max-width: 320px) {
    .wrapper {
      padding-left: 15px !important;
      padding-right: 15px !important; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .wrapper {
      padding-left: 15px !important;
      padding-right: 15px !important; } }
  .wrapper--intro {
    width: 65%;
    float: right; }
    @media only screen and (max-width: 320px) {
      .wrapper--intro {
        width: 100%;
        float: none; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .wrapper--intro {
        width: 100%;
        float: none; } }
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      .wrapper--intro {
        width: 100%;
        float: none; } }

.section-header {
  text-align: center;
  position: relative;
  outline: none; }
  .section-header--intro {
    margin-top: 0;
    padding-top: 70px; }
  .section-header:after {
    content: '';
    width: 5%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* Chrome, Safari, Opera */
    -ms-transform: translateX(-50%);
    /* IE 9 */ }

.section {
  padding: 30px 0; }
  .section--curveBottom {
    background: url(../img/bg-pattern-1.svg) no-repeat;
    background-size: cover;
    background-position: bottom; }
  .section--curveTop {
    background: url(../img/bg-pattern-2.svg) no-repeat;
    background-size: cover; }
  .section--roles {
    padding-bottom: 100px; }
  .section--hero {
    padding-top: 140px; }
  .section--role {
    padding-top: 120px;
    padding-bottom: 80px; }
  .section--intro {
    padding-top: 60px;
    padding-bottom: 80px; }
  .section--color {
    background-color: rgba(166, 166, 166, 0.09); }
  .section--top100 {
    padding-top: 100px; }
  .section--sider {
    position: fixed;
    left: 0;
    top: 130px;
    width: 100%;
    z-index: 999; }
    @media only screen and (max-width: 320px) {
      .section--sider {
        display: none; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .section--sider {
        display: none; } }
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      .section--sider {
        display: none; } }
    .section--sider .intro-nav {
      width: 300px;
      border-radius: 5px;
      padding: 15px;
      font-size: 14px;
      border: 1px solid #fff;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1); }
      .section--sider .intro-nav ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .section--sider .intro-nav ul li {
          margin: 10px 0; }
          .section--sider .intro-nav ul li a {
            color: #fff;
            border-bottom: 1px solid transparent; }
            .section--sider .intro-nav ul li a:hover, .section--sider .intro-nav ul li a.active {
              border-bottom: 1px solid #fff; }

.intro-content {
  margin-top: 15px;
  margin-bottom: 20px; }

.world-map {
  opacity: 0.6;
  width: 100%; }

.world-map-wrapper {
  position: relative; }

.la-mark {
  position: absolute;
  top: 20%;
  left: 30%; }
  .la-mark .markers {
    position: relative; }
    .la-mark .markers:after {
      content: 'LA';
      position: absolute;
      font-size: 11px;
      bottom: -24px;
      left: -2px; }
    .la-mark .markers span {
      display: block;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0; }
    .la-mark .markers span.round {
      width: 7px;
      height: 7px;
      background-color: #eee; }
    .la-mark .markers span.ring {
      width: 11px;
      height: 11px;
      animation: marker 3s linear infinite;
      border: 1px solid #aaa;
      left: -2px;
      top: -2px; }

.la-mark-2 {
  top: 20%;
  left: 70%; }

.la-mark-3 {
  top: 15%;
  left: 55%; }

.la-mark-4 {
  top: 55%;
  left: 35%; }

.la-mark-5 {
  top: 35%;
  left: 50%; }

@keyframes marker {
  0% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    -ms-transform: scale(1, 1);
    /* IE 9 */ }
  50% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    /* Chrome, Safari, Opera */
    -ms-transform: scale(1.5, 1.5);
    /* IE 9 */ }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    -ms-transform: scale(1, 1);
    /* IE 9 */ } }

.stage {
  padding: 50px 0; }
  @media only screen and (max-width: 1024px) and (min-width: 769px) {
    .stage {
      display: flex; }
      .stage .stage__icon {
        padding: 60px; } }
  .stage__name {
    font-size: 22px;
    font-weight: 400;
    text-align: center; }
  .stage .stage__icon {
    text-align: center;
    position: relative; }
    .stage .stage__icon.flow-icon:after, .stage .stage__icon.flow-icon:before {
      content: '';
      position: absolute;
      right: -60px;
      height: 2px;
      background-color: #fff;
      width: 120px;
      top: 50%;
      opacity: 0.3; }
    .stage .stage__icon.flow-icon:before {
      animation: flow-icon 3s linear infinite; }
    @media only screen and (max-width: 320px) {
      .stage .stage__icon.flow-icon:after, .stage .stage__icon.flow-icon:before {
        display: none; }
      .stage .stage__icon.flow-icon-responsive:after, .stage .stage__icon.flow-icon-responsive:before {
        content: '';
        position: absolute;
        height: 100px;
        background-color: #fff;
        width: 2px;
        left: 50%;
        opacity: 0.3;
        top: -125px;
        display: block; }
      .stage .stage__icon.flow-icon-responsive:before {
        animation: flow-icon-responsive 3s linear infinite; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .stage .stage__icon.flow-icon:after, .stage .stage__icon.flow-icon:before {
        display: none; }
      .stage .stage__icon.flow-icon-responsive:after, .stage .stage__icon.flow-icon-responsive:before {
        content: '';
        position: absolute;
        height: 100px;
        background-color: #fff;
        width: 2px;
        left: 50%;
        opacity: 0.3;
        top: -125px;
        display: block; }
      .stage .stage__icon.flow-icon-responsive:before {
        animation: flow-icon-responsive 3s linear infinite; } }
    @media only screen and (max-width: 768px) and (min-width: 481px) {
      .stage .stage__icon.flow-icon:after, .stage .stage__icon.flow-icon:before {
        display: none; }
      .stage .stage__icon.flow-icon-responsive:after, .stage .stage__icon.flow-icon-responsive:before {
        content: '';
        position: absolute;
        height: 100px;
        background-color: #fff;
        width: 2px;
        left: 50%;
        opacity: 0.3;
        top: -125px;
        display: block; }
      .stage .stage__icon.flow-icon-responsive:before {
        animation: flow-icon-responsive 3s linear infinite; } }
    @media only screen and (max-width: 1024px) and (min-width: 769px) {
      .stage .stage__icon.flow-icon:after, .stage .stage__icon.flow-icon:before {
        display: none; }
      .stage .stage__icon.flow-icon-responsive:after, .stage .stage__icon.flow-icon-responsive:before {
        content: '';
        position: absolute;
        height: 100px;
        background-color: #fff;
        width: 2px;
        left: 50%;
        opacity: 0.3;
        top: -125px;
        display: block; }
      .stage .stage__icon.flow-icon-responsive:before {
        animation: flow-icon-responsive 3s linear infinite; } }
    .stage .stage__icon img {
      width: 130px; }
  .stage .stage__description {
    padding: 30px 20px 30px 0; }
    .stage .stage__description .stage__content {
      padding-top: 10px;
      font-size: 14px; }
      .stage .stage__description .stage__content--heading {
        font-size: 16px;
        font-weight: 400; }
      .stage .stage__description .stage__content--text {
        margin-bottom: 10px; }

.down-arrow {
  text-align: center; }
  .down-arrow img {
    width: 30px; }

@keyframes flow-icon {
  0% {
    right: 60px;
    width: 0;
    opacity: 0; }
  50% {
    right: -60px;
    width: 120px;
    opacity: 1; }
  95% {
    right: -60px;
    width: 120px;
    opacity: 0; }
  100% {
    right: 60px;
    width: 0;
    opacity: 0; } }

@keyframes flow-icon-responsive {
  0% {
    bottom: 60px;
    height: 0;
    opacity: 0; }
  50% {
    bottom: -60px;
    height: 100px;
    opacity: 1; }
  95% {
    bottom: -60px;
    height: 100px;
    opacity: 0; }
  100% {
    bottom: 60px;
    height: 0;
    opacity: 0; } }

.form {
  width: 500px;
  margin: auto; }
  .form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0; }
    .form-group .form-item {
      width: 100%; }
      .form-group .form-item:not(:first-child) {
        margin-left: 10px; }
      .form-group .form-item input, .form-group .form-item textarea {
        width: 100%;
        outline: none;
        padding: 15px;
        border: 1px solid #aaa;
        border-radius: 3px;
        background-color: transparent;
        color: #fff; }
        .form-group .form-item input:focus, .form-group .form-item textarea:focus {
          border: 1px solid #fff; }
        .form-group .form-item input::-webkit-input-placeholder, .form-group .form-item textarea::-webkit-input-placeholder {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #aaa;
          font-weight: 300; }
        .form-group .form-item input:-moz-placeholder, .form-group .form-item textarea:-moz-placeholder {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #aaa;
          font-weight: 300; }
        .form-group .form-item input::-moz-placeholder, .form-group .form-item textarea::-moz-placeholder {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #aaa;
          font-weight: 300; }
        .form-group .form-item input:-ms-input-placeholder, .form-group .form-item textarea:-ms-input-placeholder {
          font-size: 14px;
          font-family: "Roboto", sans-serif;
          color: #aaa;
          font-weight: 300; }
      .form-group .form-item textarea {
        height: 250px;
        resize: none; }
  @media only screen and (max-width: 320px) {
    .form {
      width: 100%; }
      .form-group {
        flex-direction: column; }
        .form-group .form-item:not(:first-child) {
          margin-left: 0px;
          margin-top: 20px; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .form {
      width: 100%; }
      .form-group {
        flex-direction: column; }
        .form-group .form-item:not(:first-child) {
          margin-left: 0px;
          margin-top: 20px; } }

.contact-form {
  margin-bottom: 80px; }

.role {
  border-radius: 5px;
  padding-bottom: 30px; }
  @media only screen and (min-width: 769px) {
    .role {
      padding: 20px; } }
  .role:not(.role--main) {
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .role:not(.role--main):hover {
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
      transform: scale(1.05, 1.05);
      -webkit-transform: scale(1.05, 1.05);
      /* Chrome, Safari, Opera */
      -ms-transform: scale(1.05, 1.05);
      /* IE 9 */
      border: 1px solid #fff; }
  @media only screen and (max-width: 320px) {
    .role--main {
      margin: auto; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .role--main {
      margin: auto; } }

  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .role--main {
      margin: auto; } }
  .role--main .role__icon img {
    width: 150px; }
    @media only screen and (max-width: 320px) {
      .role--main .role__icon img {
        width: 80px; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .role--main .role__icon img {
        width: 80px; } }
  .role__icon {
    padding: 20px;
    text-align: center; }
    .role__icon img {
      width: 120px; }
      @media only screen and (max-width: 320px) {
        .role__icon img {
          width: 80px; } }
      @media only screen and (max-width: 480px) and (min-width: 321px) {
        .role__icon img {
          width: 80px; } }
  .role .role__name {
    font-weight: 400;
    font-size: 17px;
    text-align: center; }

.main-role {
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 320px) {
  .main-role__pattern {
    display: none; } }

@media only screen and (max-width: 480px) and (min-width: 321px) {
  .main-role__pattern {
    display: none; } }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .main-role__pattern {
    display: none; } }

.header__hamburger {
  display: none; }
  @media screen and (max-width: 768px) {
    .header__hamburger {
      display: block;
      float: right;
      cursor: pointer;
      position: relative;
      top: 17px;
      right: 10px;
      z-index: 9999;
      width: 25px;
      height: 12px;
      vertical-align: middle;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .header__hamburger span {
        height: 2px;
        top: 5px;
        right: 0;
        background-color: #fff;
        width: 100%;
        display: block;
        position: absolute;
        border-radius: 2px;
        -webkit-transition: all 0.3s, opacity 0.1s;
        -moz-transition: all 0.3s, opacity 0.1s;
        -ms-transition: all 0.3s, opacity 0.1s;
        -o-transition: all 0.3s, opacity 0.1s;
        transition: all 0.3s, opacity 0.1s; }
      .header__hamburger span:first-child {
        top: 0; }
      .header__hamburger span:last-child {
        top: 10px; }
      .header__hamburger.hamburger--active span:nth-child(2):not(:last-child) {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%); }
      .header__hamburger.hamburger--active span:first-child {
        -webkit-transform: rotate(-45deg) translateY(8px);
        -moz-transform: rotate(-45deg) translateY(8px);
        -ms-transform: rotate(-45deg) translateY(8px);
        -o-transform: rotate(-45deg) translateY(8px);
        transform: rotate(-45deg) translateY(8px);
        right: 3px; }
      .header__hamburger.hamburger--active span:last-child {
        -webkit-transform: rotate(45deg) translateY(-8px);
        -moz-transform: rotate(45deg) translateY(-8px);
        -ms-transform: rotate(45deg) translateY(-8px);
        -o-transform: rotate(45deg) translateY(-8px);
        transform: rotate(45deg) translateY(-8px);
        top: 11px;
        right: 3px; } }

.button {
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #aaa;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #aaa;
  background-color: transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .button:hover {
    border: 1px solid #fff;
    color: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1); }

.role-table {
  width: 90%;
  margin: 50px auto;
  border-collapse: collapse; }
  @media only screen and (max-width: 320px) {
    .role-table tr {
      display: flex;
      flex-direction: column;
      width: 100%; } }
  @media only screen and (max-width: 480px) and (min-width: 321px) {
    .role-table tr {
      display: flex;
      flex-direction: column;
      width: 100%; } }
  .role-table tr td {
    font-size: 15px;
    padding: 15px 0;
    vertical-align: top; }
    .role-table tr td .heading {
      font-size: 16px;
      font-weight: 400; }
    .role-table tr td p {
      margin: 10px 0; }
  .role-table tr td:first-child {
    width: 45%;
    font-weight: 400;
    border-right: 1px solid #aaa;
    font-size: 16px;
    text-align: right;
    padding-right: 30px !important; }
    @media only screen and (max-width: 320px) {
      .role-table tr td:first-child {
        width: 100%;
        border-right: none;
        text-align: left;
        padding-bottom: 0; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .role-table tr td:first-child {
        width: 100%;
        border-right: none;
        text-align: left;
        padding-bottom: 0; } }
  .role-table tr td:last-child {
    padding-left: 30px !important; }
    @media only screen and (max-width: 320px) {
      .role-table tr td:last-child {
        border-bottom: 1px solid #aaa;
        padding-left: 0 !important;
        padding-top: 0; } }
    @media only screen and (max-width: 480px) and (min-width: 321px) {
      .role-table tr td:last-child {
        border-bottom: 1px solid #aaa;
        padding-left: 0 !important;
        padding-top: 0; } }
  .role-table tr:last-child td {
    border: none;
  }

.copyright {
  background-color: #111;
  color: #fff;
  padding: 15px 0;
  font-size: 12px;
  text-align: center; }
