/*countdown*/
img {
    width: 100%;
}

.time {
    font-size: 8rem;
    margin: 0;
    font-weight: 400;
}

.seconds {
    animation: toggleColor 3s linear infinite;
}

@keyframes toggleColor {
    0% {
        color: #1E9FFF;
    }
    30% {
        color: #82ca9c;
    }
    60% {
        color: #a494ca;
    }
    100% {
        color: #ffffff;
    }
}

.timeBigBox {
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    justify-content: space-around;
}

.titleTips {
    font-weight: 400;
}

.timeBox {
    position: relative;
    text-align: center;
}

.market {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 6rem;
    margin: 0;
    box-shadow: 1px 1px 30px rgba(100, 100, 100, 0.5);
}

.btnBox {
    margin-top: 10%;
    margin-bottom: 6%;
}

.subscribeBtn {
    border: 1px solid #ffffff;
    padding: 1% 2%;
    border-radius: 6px;
}

.subscribeBtn:hover {

    color: #000000;
    animation: btnBgColor .5s linear forwards;
}

@keyframes btnBgColor {
    0% {
        background: rgba(255, 255, 255, 0.09);
        color: #ffffff;
    }
    50% {
        background: rgba(255, 255, 255, 0.41);
        color: rgba(255, 255, 255, 0.92);
    }
    100% {
        background: rgba(255, 255, 255, 1);
        color: rgba(0, 0, 0, 0.92);
    }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .timeBigBox {
        margin-top: 10%;
    }

    .title, .time {
        font-size: 3rem;
    }

    .titleTips_p {
        margin-top: 10%;
    }

    .titleTips {
        font-size: 12px;
    }

    .market {
        height: 60%;
    }

    .timeText {
        font-size: 14px;
    }

    .btnBox {
        margin-top: 15%;
        margin-bottom: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .subscribeBtn{
        padding: 3% 5%;
    }
}

/*project process*/
.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-box;
}

.flex.center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.width-100 {
    width: 100%;
}

.width-40 {
    width: 40%;
}

.padding-left-1 {
    padding-left: 1%;
}

.padding-right-1 {
    padding-right: 1%;
}

.stageItem {
    padding: 5%;
    width: 70%;
    animation: showBorder 1s linear infinite;
    margin-bottom: 5%;
    transition-duration: 3s;
}

@keyframes showBorder {
    0% {
        border: 1px solid #FFF0FF;
    }
    50% {
        border: 1px solid #67d6ff;
    }
    100% {
        border: 1px solid #FFFFFF;
    }
}

.stageText {
    margin-top: 5%;
}

.float-left .stageInnerText {
    border-left: 2px solid #FFFFFF;
    padding-left: 1%;
}

.float-right .stageInnerText {
    border-right: 2px solid #FFFFFF;
    padding-right: 1%;
}

.float-left .imgBox {
    padding-right: 1%;
}

.float-right .imgBox {
    padding-left: 1%;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
    .stageItem{
        width: 100%;
    }
    .stageText{
        display: block;
        text-align: center;
    }
    .imgBox{
        width: 20%;
        display: inline-block;
    }
    .stageInnerText{
        text-align: center;
        font-size: 14px;
        border: unset!important;
        padding: 0;
    }
    .useIconBox{
        margin-bottom: 10%;
    }
    .useIconBox div{
        width: 20%;
    }
    .column__sm--6{
        width: 50%;
    }
}

/*useTutorial*/
.useIconBox .width-40 {
    display: inline-block;
}

.useIconText {
    position: relative;
}

.useIconText:after {
    content: "";
    height: 2px;
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -25%;
    width: 100%;
    transition-duration: .3s;
    opacity: 0.3;
    animation: showBgColor 2s linear infinite;
}

@keyframes showBgColor {
    0% {
        opacity: 0.3;
        width: 0;
    }
    50% {
        opacity: 0.6;
        width: 50%;
    }
    50% {
        opacity: 1;
        width: 100%;
    }
}

.useTutorialBtn_col {
    margin-top: 10%;
}

/*our Team*/
.rotateBox {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.rotateBox:hover{
    border: 1px solid #ffffff;
    transform: scale(1.05);
    cursor: pointer;
}
.rotateBefore{
    text-align: center;
}
.rotate_name{
    font-weight: 400;
}
.rotateBack {
    background: #3b3e48;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    opacity: 0;
    padding: 20px;
    font-size: 14px;
    line-height: 1.5;
}
.rotateBox .rotateBefore{
    transition-duration: 0.5s;
}
.rotateBox:hover .rotateBefore{
    animation: rotateBeforeAnimation 0.5s linear both;
}

@keyframes rotateBeforeAnimation {
    0% {
        transform: rotateY(0deg);
        opacity: 1;
    }
    50% {
        transform: rotateY(90deg);
        opacity: 0.5;
    }
    100% {
        transform: rotateY(180deg);
        opacity: 0.5;
    }
}
.rotateBox:hover .rotateBack{
    animation: rotateBackBox 0.5s linear both;
}
@keyframes rotateBackBox {
    0% {
        transform: rotateY(-180deg);
        opacity: 0;
    }
    50% {
        transform: rotateY(-90deg);
        opacity: 0.5;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}