//
//  Colour Variables
//


//
//  Grey shades
//

$light-grey:        #FCFCFB;
$medium-grey:       #D5D5D5;
$dark-grey:         #444;
$black:             #000;
$grey-link:         #555;

//
// Fonts
//

$primary-font-color:#fff;
$subtitle-color:    #2E3439;
$text-color:        #6B7073;
$label-color:       #6B7073;
$copy-right-color:  #818181;
$signature-color:   #A7A7A7;


//
//  Dark white shades
//

$white:             #FFFFFF;
$dark-white:        #E8E9EE;
$light-white:       #F5F5F5;
$placeholder:       #898989;


//
//  Brand Colours
//

$theme-color:        #fff;
$dark-theme-color:   #eee;
$light-theme-color:	 #aaa;
$hight-light:        #0D2028;


//
//  Border colours
//

$standard-border-colour: #EEE;