.button {

	padding: 10px 20px;
	outline: none;
	border: none;
	font-size: 18px;
	color: $light-theme-color;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid $light-theme-color;
	background-color: transparent;

	@include transition();

	&:hover {

		border: 1px solid #fff;
		color: #fff;

		@include box-shadow();

	}

}